/*Pacifico font*/
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.header-style {
	justify-content: space-between;
	padding: 2px 2px 2px 2px;
	position: sticky;
	width: 100%;
	z-index: 1000;
	background-color: rgba(216, 205, 205, 0.9);
    box-shadow: 0 8px 8px 2.5px rgba(0,0,0,.25);
  }
  .sitename{
	  padding: 2px 2px 2px 40px;
	  text-decoration: none;
  }
  .header-style,
  .header-style ul {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
  }
  .qlogo {
	font-family: "Pacifico";
	font-weight: 700;
	text-shadow: 2px 4px 8px rgb(236, 230, 230);
	color: #cc2549;
	margin-bottom: 0px;
  }
  
  .hcontainer {
	width: 100%;
	padding: 2px 2px 2px 2px;
	/* margin-left: auto;
	margin-right: auto;
	padding-left: var(--hcontainer-side-padding, 8px);
	padding-right: var(--hcontainer-side-padding, 8px); */
  }
  /* @media (min-width: 600px) {
	.hcontainer {
	  --hcontainer-side-padding: 24px;
	}
  }

  @media (min-width: 600px) {
	.header-style {
	  --header-style-cta-gap: 62px;
	  --header-style-margin-top: 16px;
	  --header-style-title-font-size: 2.6rem;
	}
  } */

  @media (max-width: 768px) {
	.qlogo {
		font-size: 40px;
	}
	.sitename{
		padding-left: 10px;
	}
	.header-style .button-72{
		margin: 10px 5px 10px 5px;
		font-size: 20px;
		height: 50px;
	}
  }

  @media (max-width: 522px) {
	.qlogo {
		font-size: 30px;
	}
	.sitename{
		padding-left: 10px;
	}
	.header-style .button-72{
		margin: 10px 5px 10px 5px;
		font-size: 16px;
		height: 45px;
	}
  }

  @media (max-width: 420px) {
	.sitename{
		padding-left: 10px;
	}
	.header-style .button-72{
		margin: 10px 5px 10px 5px;
		font-size: 13px;
		height: 40px;
	}
	.qlogo {
		font-size: 32px;
	}
  }

  @media (max-width: 390px) {
	.sitename{
		padding-left: 10px;
	}
	.header-style .button-72{
		margin: 10px 5px 10px 5px;
		font-size: 11px;
		height: 36px;
	}
	.qlogo {
		font-size: 30px;
	}
  }