body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f0f3f5;
}

.panel-blue {
  color: #ffffff;
  background-color: #03a9f4;
}
.panel-green {
  color: white;
  background-color: #8bc34a;
}
.panel-red {
  color: white;
  background-color: #f44336;
}
.panel-yellow {
  color: white;
  background-color: #ffc107;
}
.navbar-brand {
  padding: 0;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  position: inherit;
  margin: 0 40px 0 290px;
  margin-right: 5px;
  min-height: 568px;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}
#page-wrapper.page-wrapper-extended {
  margin-left: 80px;
}

.form-control {
  line-height: 12px;
  padding: 10px 15px;
  min-height: 42px;
  vertical-align: middle;
  font-size: 14px;
  background: transparent;
  box-shadow: none;
  border: 0;
  border-bottom: 2px solid rgba(96, 125, 139, 0.4);
  border-radius: 0;
  box-sizing: border-box;
}
.form-control:focus {
  border-bottom: 2px solid #03a9f4;
  box-shadow: none;
  outline: none;
}
.btn {
  border-radius: 3px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 5px;
}
.btn:last-child {
  margin-right: 0;
}
.btn:focus,
.btn:active,
.btn:active:focus,
.btn.active:focus,
.btn.active,
.btn:active {
  outline: 0px auto -webkit-focus-ring-color;
  box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
}
.sidebar {
  background: #ffffff;
  border: none;
  box-shadow: 10px 0px 20px 0 rgba(0, 0, 0, 0.05);
  z-index: 99;
  position: fixed;
  width: 250px;
  margin-top: 0px;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  border: none;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li a {
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: #607d8b;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.menusmall .sidebar ul li a {
  padding-left: 2px;
}
.sidebar ul li a i {
  font-size: 14px;
  margin-right: 15px;
  margin-left: 1rem;
  width: 20px;
  text-align: center;
}
.sidebar ul li a.active {
  background-color: #ffffff;
  color: #222222;
  font-weight: 500;
}
.sidebar ul li a.active:before {
  content: " ";
  height: 100%;
  width: 2px;
  display: block;
  box-shadow: 7px 0 30px 1px rgba(3, 169, 244, 0.8);
  float: left;
  left: 0;
  top: 0;
  position: absolute;
}
.sidebar-nav ul.nav {
  width: 250px;
  padding-left: 20px;
}
.sidebar .navbar-header {
  width: 250px;
  background: none;
}
.sidebar .arrow {
  vertical-align: middle;
  display: inline-block;
  line-height: 50px;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 54px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
  background: rgba(241, 242, 243, 0.5);
  font-size: 12px;
  line-height: 40px;
}
.nav-second-level {
  display: none;
}
.sidebar li.active .nav-second-level {
  display: block;
}
.navbar-toggle {
  display: block;
  float: left;
  border: 0;
  margin: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  background: none;
}
.menusmall .sidebar {
  width: 70px;
  overflow: visible;
}
.menusmall .sidebar-nav ul.nav {
  padding-left: 0px;
}
.menusmall .sidebar ul.nav {
  width: 70px;
}
.menusmall .sidebar ul.nav li {
  width: 70px;
  overflow: hidden;
  text-align: center;
}

.menusmall .sidebar ul.nav li a {
  width: 70px;
  overflow: hidden;
  background: #ffffff;
}
.menusmall .sidebar ul.nav li .nav-second-level li a {
  width: 200px;
}
.menusmall .sidebar ul.nav li ul.nav li {
  width: 200px;
  overflow: hidden;
}
.menusmall .sidebar ul.nav li ul.nav li a {
  width: 200px;
  overflow: hidden;
  background: #f0f3f5;
  padding-left: 20px;
}
.sidebar ul.nav li a .desc {
  display: inline;
}

.menusmall .sidebar ul.nav li a .desc {
  font-size: 10px;
}
.menusmall .sidebar ul.nav li .nav-second-level {
  position: absolute;
  background: #e1eaef;
  left: 50px;
  width: 200px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  max-height: 250px;
  overflow-y: auto;
  display: block;
}

.menusmall .sidebar .userprofile .userpic {
  width: 85%;
  height: auto;
}
.menusmall .sidebar .userprofile .userpic img {
  width: 100%;
}
.menusmall .sidebar .userprofile .settingbtn {
  position: relative;
  display: none;
}
.menusmall .sidebar .userprofile {
  margin: 20px auto;
}
.menusmall .sidebar .userprofile .username {
  display: none;
}
.menusmall .sidebar .userprofile .username + p {
  display: none;
}
.menusmall .navbar-brand {
  display: none;
}
.menusmall #page-wrapper {
  margin: 0 40px 0 90px;
}
.menusmall.menuclose #page-wrapper {
  margin: 0 40px 0 40px;
}
.menusmall .sidebar .navbar-header {
  width: 50px;
  overflow: hidden;
}
.nav > li > a.userdd {
  padding: 5px 15px;
}
.userprofile {
  width: 100%;
  float: left;
  clear: both;
  margin: 40px auto;
}
.userprofile .userpic {
  height: 100px;
  width: 100px;
  clear: both;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.userprofile .userpic .userpicimg {
  height: auto;
  width: 100%;
  border-radius: 100%;
}
.username {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.username + p {
  color: #607d8b;
  font-size: 13px;
  line-height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.settingbtn {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.userprofile.small {
  width: auto;
  clear: both;
  margin: 0px auto;
}
.userprofile.small .userpic {
  height: 40px;
  width: 40px;
  margin: 0 10px 0 0;
  display: block;
  border-radius: 100%;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  float: left;
}
.userprofile.small .textcontainer {
  float: left;
  max-width: 200px;
  padding: 0;
}
.userprofile.small .userpic .userpicimg {
  min-height: 100%;
  width: 100%;
  border-radius: 100%;
}
.userprofile.small .username {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin: 0px;
  float: left;
  width: 100%;
  padding-top: 15px;
}
.userprofile.small .username + p {
  color: #607d8b;
  font-size: 13px;
  float: left;
  width: 100%;
  margin: 0;
}
.header-wrapper {
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 40px;
}
label {
  font-weight: 500;
}
.page-header {
  padding-bottom: 0;
  margin: 10px 0px;
  line-height: 40px;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 34px;
  font-weight: 300;
  color: #222222;
}
.page-subtitle {
  padding-bottom: 0;
  margin: 0px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #607d8b;
}
.page-header.small {
  position: relative;
  line-height: 22px;
  font-weight: 400;
  font-size: 20px;
}
.page-subtitle.small {
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 14px;
}
table.dataTable {
  width: 100% !important;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: #fafafb;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: "Font Awesome 5 Pro";
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: "Font Awesome 5 Pro";
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: "Font Awesome 5 Pro";
  color: rgba(50, 50, 50, 0.5);
}
.dataTables_filter {
  float: right;
}
.dataTables_filter input {
  display: inline-block;
  width: 70%;
  margin-left: 15px;
}
.dataTables_length label {
  width: 100%;
}
.dataTables_length input,
.dataTables_length select {
  display: inline-block;
  width: 80px;
}
.dataTables_paginate .pagination {
  float: right;
}
.dataTables_paginate .pagination,
.dataTables_info {
  margin: 10px 0 !important;
  line-height: 40px;
}
.gridpic {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 30px;
  vertical-align: middle;
}
table.dataTable thead tr th,
table.dataTable tbody tr td {
  padding: 15px;
  line-height: 30px;
}
.table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 5px 15px;
  line-height: 20px;
  vertical-align: top;
  border-width: 0;
  border-top: 1px solid #e1eaef;
  font-size: 13px;
  background: #fff;
  position: relative;
  transition: 1s all ease;
}
.table-striped > tbody > tr:nth-child(even) > td {
  background: #fafafb;
}
.table tr {
  position: relative;
}
.table tr td:after,
.table tr td:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before {
  content: " ";
  opacity: 0;
  display: block;
  z-index: 9;
  width: 100%;
  float: left;
  height: 0px;
  border-radius: 0;
  border: 0 none;
  position: absolute;
  transition: 1s all ease;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}
.table tr td:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before {
  top: 0px;
  left: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.08) 12%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.08) 12%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.08) 12%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0 ); /* IE6-9 */
  transition: 0.5s all ease;
}
.table tr td:after {
  bottom: 0px;
  left: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.08) 88%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.08) 88%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.08) 88%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 ); /* IE6-9 */
  transition: 0.5s all ease;
}
.table tr:hover td:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr:hover
  > td:first-child:before {
  opacity: 0.1;
  height: 15px;
  top: -15px;
}
.table tr:hover td:after {
  opacity: 0.1;
  height: 15px;
  bottom: -15px;
}
.table tr th {
  font-weight: 500;
  text-transform: uppercase;
  color: #607d8b;
}
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-right: 0;
  border-left: 0;
}
.table-bordered {
  width: 100%;
  border: 1px solid #e1eaef;
}
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #e1eaef;
  border-right: 0;
  border-left: 0;
}
.tablebordered {
  width: 100%;
  border: 1px solid #e1eaef;
}
table tr td img {
  max-width: 30px;
  vertical-align: middle;
}
.pagination > .active > .btn,
.pagination > .active > .btn:focus,
.pagination > .active > .btn:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > li > .btn:focus,
.pagination > li > .btn:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #ffffff;
  background-color: #03a9f4;
}
.pagination li {
  margin: 0 5px;
  float: left;
  display: block;
}
.pagination li .btn {
  display: block;
  float: left;
  background: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  color: #607d9c;
  border-color: rgba(96, 125, 139, 0.5);
}
.pagination > li:first-child > .btn,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.pagination > li:last-child > .btn,
.pagination > li:last-child > span {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.panel {
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  margin-bottom: 35px;
  border-radius: 0px;
  position: relative;
  border: 0;
  display: inline-block;
  width: 100%;
}
.panel:hover {
  box-shadow: 0px 5px 18px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 18px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 18px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 5px 18px 0 rgba(0, 0, 0, 0.15);
}
.panel-heading,
.panel {
  border-radius: 0;
}
.panel-heading {
  line-height: 40px;
  font-size: 18px;
  border-bottom: 1px solid #607d8b;
}
.panel-heading > i {
  margin-right: 10px;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #ffffff;
  border-top: 1px solid #eef2f4;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #607d8b;
}
.panel-default {
  color: #607d8b;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  padding: 1rem;
  border-color: #e1eaef;
}
.panel-body {
  color: #262b2e;
}

.custom-input-wrapper::after {
  content: "\f35d";
  font-family: "Font Awesome 5 Pro";
  float: right;
  color: rgba(50, 50, 50, 0.5);
  position: absolute;
  right: 10px;
  top: 5px;
}

label.input-retro-camera::after {
  content: "\f083";
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
  color: #ffc107;
}
.panel-group .panel {
  margin-bottom: 15px;
  border-radius: 0;
}
.panel-title {
  font-weight: 400;
  line-height: 40px;
}
.panel-title a {
  width: 100%;
  display: block;
}
.panel-title a span.fa-angle-down {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.icon {
  margin-right: 10px;
}
.panel-title a.collapsed span.fa {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}
.search_result a {
  line-height: 30px;
  font-size: 18px;
}
.search_result p {
  font-size: 15px;
  line-height: 18px;
  margin: 10px 0;
}
.input-sm {
  height: 30px;
  line-height: 30px;
}
.search_result p span {
  display: block;
  margin-bottom: 15px;
}
.search_result .list-group-item {
  padding: 20px 15px;
}
.userpic {
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
}
.userpic:hover {
  box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.12);
}
.status {
  line-height: 30px;
  padding: 0 15px;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  border-radius: 15px;
  width: auto;
  display: inline-block;
}
.status.inactive {
  color: white;
  background-color: #f44336;
}
.status.active {
  color: white;
  background-color: #8bc34a;
}

/* ------------------------- COMMING SOON CSS START---------------------*/
.align-items-center {
  height: 100vh;
}
.coming-content {
  text-align: center;
}
.coming-title {
  font-weight: 900;
  color: #343638;
  font-style: italic;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.coming-clock {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--gray-chalk);
}
.coming-subtitle {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.coming-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
}
.coming-form input {
  width: 400px;
  height: 50px;
  padding: 0px 25px;
  border-radius: 50px;
  background: var(--white);
  -webkit-box-shadow: var(--primary-bshadow);
  box-shadow: var(--primary-bshadow);
}
.coming-form button {
  margin-left: 15px;
}
.coming-form button i {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: var(--primary);
  background: var(--white);
  -webkit-box-shadow: var(--primary-bshadow);
  box-shadow: var(--primary-bshadow);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.coming-form button i:hover {
  color: var(--white);
  background: var(--primary);
}
.coming-social a {
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  margin: 0px 5px;
  text-align: center;
  color: var(--primary);
  background: var(--white);
  text-shadow: var(--primary-tshadow);
  -webkit-box-shadow: var(--primary-bshadow);
  box-shadow: var(--primary-bshadow);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.coming-social a:hover {
  color: var(--white);
  background: var(--primary);
}
@media (max-width: 575px) {
  .coming-title {
      font-size: 45px;
      margin-bottom: 35px;
  }
  .coming-subtitle {
    font-size: 18px;
}
  .coming-timer span {
      font-size: 25px;
      padding: 0px 15px;
  }
  .coming-timer span small {
      font-size: 15px;
  }
  .coming-form input {
      width: 100%;
  }
}
@media (max-width: 991px) {
  .coming-part {
      padding: 50px 0px;
  }
  .align-items-center {
      height: auto;
  }
  .coming-social {
      margin-bottom: 40px;
  }
}
/* ------------------------- COMMING SOON CSS END---------------------*/

@media (max-width: 1180px) {
  .menusmall #page-wrapper,
  #page-wrapper {
    margin: 0 10px 0 60px;
  }
}
@media (max-width: 992px) {
  .menusmall.menuclose #page-wrapper {
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .dataTables_filter {
    float: left;
  }
  .collapse {
    display: block;
  }
  .menusmall.menuclose #page-wrapper {
    margin: 0 10px;
  }
  .panel {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .navbar-top-links li:last-child {
    margin-right: 0;
  }
  .navbar-top-links {
    float: right;
  }
  .navbar-top-links li .textcontainer {
    display: none;
  }
}
